doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Hot Dads BBQ | Rocklin, CA

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
        link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#f68911")
        meta(name="msapplication-TileColor" content="#000000")
        meta(name="theme-color" content="#000000")

        // Bootstrap Icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top')
                    img.img-fluid.px-lg-1(src='assets/favicon-32x32.png', alt='logo')
                    | Hot Dads BBQ | Rocklin, CA
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#specialties') Specialties
                        li.nav-item
                            a.nav-link(href='#upcoming') Upcoming
                        li.nav-item
                            a.nav-link(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link(href='#contact') Become a Sponsor

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-end
                        h1.text-white.font-weight-bold Your Favorite Food Done Right
                        hr.divider
                    .col-lg-8.align-self-baseline
                        p.text-white-75.mb-5
                            | Igniting a Legendary BBQ Tradition with Family and Friends!
                        a.btn.btn-primary.btn-xl(href='#about') Find Out More

        // About
        section#about.page-section.bg-primary
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 We've got what you need!
                        hr.divider.divider-light
                        p.text-white-75.mb-4
                            | Welcome to our sizzling corner of the BBQ universe! We are a dynamic and passionate family and friends BBQ team that takes grilling to a whole new level. With a shared love for mouthwatering flavors, great company, and unforgettable memories, we've come together to create a culinary experience like no other.
                            br
                            br
                            | At the heart of our team is the spirit of togetherness. We believe that the best barbecues are not just about the food but also about the cherished moments spent with loved ones. Whether we're firing up the grill in our own backyards, competing in local BBQ competitions, or catering events for our community, we always make sure that the laughter and camaraderie flow as freely as the savory aromas.
                            br
                            br
                            | Our team is a melting pot of expertise, bringing together a diverse range of grilling styles, secret recipes, and techniques passed down through generations. From slow-smoked ribs that fall off the bone to perfectly seared steaks with tantalizing grill marks, we have honed our skills to create a symphony of flavors that will have your taste buds dancing.
                            br
                            br
                            | But it's not just about the food—our commitment to quality extends to every aspect of our BBQ journey. We meticulously select the finest cuts of meat, source the freshest ingredients, and pay attention to every detail, ensuring that every bite is a revelation of taste and tenderness.
                            br
                            br
                            | As a family and friends BBQ team, we are always excited to share our passion and knowledge. That's why we've created this website—to inspire and empower others to ignite their own grilling adventures. Here, you'll find a treasure trove of recipes, tips, and techniques that will take your BBQ skills to the next level. Whether you're a seasoned pitmaster or a backyard grilling enthusiast, we invite you to join us on this flavorful journey.
                            br
                            br
                            | So grab a seat, fire up the grill, and let the aroma of our shared passion fill the air. Together, let's create unforgettable BBQ moments that will warm your heart and satisfy your soul. Welcome to our BBQ family—where friendship, flavor, and fun are always on the menu!
                        a.btn.btn-light.btn-xl(href='#specialties') Get Started!

        // specialties
        section#specialties.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 At Your Service
                hr.divider
                .row.gx-4.gx-lg-5
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.fa-solid.fa-bone.fs-1.text-primary
                            h3.h4.mb-2 Rib-tastic Revelry
                            p.text-muted.mb-0 Sink Your Teeth into Our Team's Finger-Lickin' Ribs, Bursting with Flavor and Fall-Off-The-Bone Goodness!
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.fa-solid.fa-apple-whole.fs-1.text-primary
                            h3.h4.mb-2 Pulled Pork Perfection
                            p.text-muted.mb-0 Indulge in Our Team's Mouthwatering Melange of Smoky, Juicy, and Irresistibly Tender Delight!
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.fa-solid.fa-cow.fs-1.text-primary
                            h3.h4.mb-2 Brisket Bliss
                            p.text-muted.mb-0 Our Team's Tender and Smoky Masterpiece Will Leave You Craving for More!
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.fa-solid.fa-cheese.fs-1.text-primary
                            h3.h4.mb-2 Cheesy Delight
                            p.text-muted.mb-0 Dive into Creamy Bliss with Our Team's Irresistible Mac and Cheese, a Perfectly Melty and Comforting Culinary Escape!

        // upcoming events
        section#upcoming.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 Upcoming Events
                hr.divider
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-6.text-center
                        .mt-5
                            .mb-2
                            h3.h4.mb-2 4th Annual Slanted Field of Dreams Invitational Rib Cook-off
                            p.text-muted.mb-0 June 10th, 2023 | Penryn, CA

        // Portfolio
        #portfolio
            .container-fluid.p-0
                .row.g-0
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/1.png', title='Battle of the BBQs 2019')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/1.png', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | 1st Place
                                .project-name
                                    | Battle of the BBQs 2019
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/2.png', title="Who Loves Brisket?")
                            img.img-fluid(src='assets/img/portfolio/thumbnails/2.png', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Who Loves Brisket?
                                .project-name
                                    | That's Right, Everyone!
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/3.png', title='Backyard with friends')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/3.png', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Just having some fun
                                .project-name
                                    | Backyard with friends
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/4.png', title='Home Sweet Home')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/4.png', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Perfecting the art
                                .project-name
                                    | Home Sweet Home
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/5.png', title='Favorite Place on Earth')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/5.png', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Workin'
                                .project-name
                                    | Favorite Place on Earth
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/6.png', title='Homestyle')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/6.png', alt='...')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | Savory
                                .project-name
                                    | Homestyle

        // Call to action
        section.page-section.bg-dark.text-white
            .container.px-4.px-lg-5.text-center
                h2.mb-4 Join Our BBQ Team as a Supporter or Sponsor and Fuel the Fire of Culinary Excellence.
                a.btn.btn-light.btn-xl(href='#contact') Be a Champion of Flavor!

        // Contact
        section#contact.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.col-xl-6.text-center
                        h2.mt-0 Let's Get In Touch!
                        hr.divider
                        p.text-muted.mb-5
                            | Together, we can spread the love of barbecue, create lasting memories, and showcase your brand to a passionate community. Discover the exciting partnership opportunities and become a part of our sizzling success. Contact us now to explore how we can collaborate and make BBQ magic happen!
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-4.text-center.mb-5.mb-lg-0
                        i.fa-solid.fa-envelope.fs-2.mb-3.text-muted
                        div hotdadsbbq@gmail.com

        // Footer
        footer.bg-light.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    .
                     Copyright &copy; 2023 - Hot Dads BBQ | 
                    i.fa-solid.fa-code
                    | with 
                    i.fa-solid.fa-ghost
                    | by 
                    a(href="https://github.com/wesleyem") @wesleyem

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // Font Awesome 6
        script(src="https://kit.fontawesome.com/557861959f.js" crossorigin="anonymous")
